.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.wrappable {
    display: inline-block;
    word-break: break-word;
}

.govuk-summary-list__value span {
    line-height: 1.4;
}


// Raise index of dropdown arrow on accessible autocomplete
// This prevents it from being hidden behind the other address inputs
.autocomplete__dropdown-arrow-down {
  z-index: 0;
  pointer-events: none;
}

// Constrain the input (and drop-down) so they are situated with the other address inputs
// important to do this on the wrapper rather than the input itself otherwise the down-arrow will be floating by itself
@media (min-width: 40.0625em){
  .autocomplete__wrapper {
    width: 66.66%!important;
  }
}